body{
    margin:0;
    background-color:#65D2FF;
    padding: 100px;
}


.appContainer{
    width:300px;
    height: 300px;
    background-color: #17212C;
    padding: 20px;
    border-radius: 4px;
}

.flex{
    display: flex;
}